apiVersion: v1
kind: ConfigMap
metadata:
  name: simulator-conf
data:
  env: |
    KafkaReadTopic=route.new-direction
    KafkaProduceTopic=route.new-position
    KafkaBootstrapServers=<cluster.string.from.gcp:9092>
    KafkaConsumerGroupId=simulator
    security.protocol="SASL_SSL"
    sasl.mechanisms="PLAIN"
    sasl.username="YOUR_USERNAME"
    sasl.password="PASSWORD123"